<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"full","style":{"position":{"type":"sticky","top":"0px"},"spacing":{"margin":{"top":"0px"},"padding":{"top":"20px","bottom":"20px"}},"border":{"bottom":{"color":"#eeeeee","width":"1px"},"top":[],"right":[],"left":[]}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-base-background-color has-background" style="border-bottom-color:#eeeeee;border-bottom-width:1px;margin-top:0px;padding-top:20px;padding-bottom:20px"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:navigation {"ref":147,"style":{"typography":{"fontStyle":"normal","fontWeight":"600","fontSize":"15px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"right":"var:preset|spacing|30"}}}} -->
<div class="wp-block-column" style="padding-right:var(--wp--preset--spacing--30);flex-basis:66.66%"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"6px","margin":{"bottom":"4px"}}},"className":"page-title","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group page-title" style="margin-bottom:4px"><!-- wp:post-date /-->

<!-- wp:paragraph {"className":"wp-block-post-date"} -->
<p class="wp-block-post-date">BY</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"className":"wp-block-post-date"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"style":{"spacing":{"margin":{"top":"0px"}}},"textColor":"contrast"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"post-meta"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments","tagName":"section"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"secondary"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow","style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"secondary"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar","area":"uncategorized"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->